body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, rgba(255,93,177,1) 0%, rgba(3,155,237,1) 100%);
  font-family: 'Courier New', Courier, monospace;
}

button {
  cursor: pointer;
}
